.photoGallery {
  display: flex;
  gap: 75px;
  margin-top: 65px;
  margin-bottom: 130px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.photo img {
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid#ccc;
}

@media (max-width: 640px) {
  .photoGallery {
    flex-direction: column;
  }
}
