.detailsBarWrapper {
  background-color: #212ea0;
  border-radius: 7px;
  position: relative;
  padding: 30px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textOne {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.contactWrapper {
  display: flex;
  width: 350px;
  /* height: 10px; */
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
}

.contactText {
  color: #fff;
  font-size: 15px;
  margin-left: 10px;
}
