.footContainer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
  padding-bottom: 50px;
}

.container-items {
    width: 90%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

  /* @media (max-width: 768px) {
    width: 90%;
  }
} */
