.consultServices {
  position: relative;
}

.consultServices img {
  width: 100%;
  border-radius: 10px;
  display: block;
  border: 1px solid #ccc;
}

.serviceList {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.6);
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 4% 10%;
}

.serviceList li {
  color: #fff;
  display: inline-block;
  width: 30%;
  border: 2px solid#ccc;
  padding: 2.5% 2%;
  margin: 1.5%;
  vertical-align: top;
  border-radius: 5px;
}

.serviceList p {
  margin: 20px auto;
  color: #fff;
  min-height: 140px;
  font-size: 16px;
}

.serviceList li a {
  display: inline-block;
}

.serlistMore {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.serlistMore a {
  display: block;
  padding: 15px 20px;
}

.serlistMore:hover {
  background: #fff;
  color: #212ea0;
}
